* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* E S T I L O S */

header {
    background-image: linear-gradient(to right, #e2b375,#ecca9d,white, white);
}

.header__logoInicial {
    width: 320px;
    display: inline-block;
    padding: 40px 50px 70px 20px;
}

.header__tituloInicial {
    color:#bc843a;
    font-size: 60px;
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    display: inline-block;
    text-shadow: 2px 2px antiquewhite;
    padding: 80px 20px 20px 20px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }   
}

ul li {
    list-style: none;
    display: inline;
    text-transform: uppercase;
    padding: 18px;
    background-color: #e2b375;
    position: relative;
    background-image: linear-gradient(to right, #f0d6b4, antiquewhite, antiquewhite,antiquewhite, antiquewhite);
}

a {
    text-decoration: none;
    color:rgb(97, 96, 96);
}

li:hover {
    border: 1px solid #bc843a;
}

#imagenInicio {
    width: 1348px;
}

p {
    color:black;
    font-size: 20px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    padding: 10px;
    display: block;
}

.footer__Index , .footer__Denuncia , .footer__Contacto {
    color:black;
    font-weight: bold;
    font-size: 9px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    display: block;
}

.titulo__Denuncia , .titulo__Seguimiento , .titulo__instructivos , .titulo__Contacto {
    color: black;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    display: inline-block;
    padding: 80px 40px 20px 40px;
}

.subtitulo__consignaDenuncia , .subtitulo__consignaSeguimiento , .subtitulo__consignaContacto {
    color: black;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    line-height: 1,5;
    display: inline-block;
    padding: 20px 20px 40px 20px;
}

.formulario__Denuncias {
    background-color: antiquewhite;
    font-size: 24px;
    font-family: 'Public Sans', sans-serif;
    line-height: 2;
}

.formulario__Seguimiento {
    background-color: antiquewhite;
    font-size: 24px;
    font-family: 'Public Sans', sans-serif;
    line-height: 2;
}

.tabla__TipoTramites {
    background-color: antiquewhite;
    font-size: 20px;
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    line-height: 2;
}

.footer__Seguimiento {
    color:black;
    font-weight: bold;
    font-size: 9px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    display: block;
}

.subtitulo__instructivoPasos {
    color: black;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    line-height: 1,5;
    display: inline-block;
    justify-self: center;

}

.subtitulo__Canal {
    color: black;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    line-height: 1,5;
    display: inline-block;
    justify-self: center;
}

.imagen__instructivoPasos {
    width: 300px;
    padding: 20px;     
}

.video__Canal {
    width: 750px;
    justify-self: center;
    padding: 20px 0px 0px 130px;
}

.subtitulo__Codigo {
    color: black;
    font-style: italic;
    font-size: 20px;
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    line-height: 1,5;
    display: inline-block;
    justify-self: center;

}

.video__Codigo {
    width: 750px;
    justify-self: center;
    padding: 0px 0px 0px 100px;
    
}

.footer__Instructivos {
    color:black;
    font-weight: bold;
    font-size: 9px;
    text-align: center;
    font-family: 'Public Sans', sans-serif;
    display: block;  
}

.formulario__Contacto {
    background-color: antiquewhite;
    font-size: 24px;
    font-family: 'Public Sans', sans-serif;
    line-height: 2;
}


/* A P L I C A N D O    F L E X B O X */

.header__flex { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.nav__flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}


/* A P L I C A N D O    G R I D S */

/* E S T R U C T U R A    G E N E R A L   P A R A    T O D A S   L A S    P A G I N A S */

.body__grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'header header header header header header'
    'nav nav nav nav nav nav'
    'main main main main main main'
    'footer footer footer footer footer footer';
}


/* G R I D S    D E N U N C I A */

.main__gridDenuncia {
    display: grid;
    grid-template-areas: 
    'titulodenuncia'
    'consignadenuncia'
    'formulariodenuncia';
}

.formulario__Denuncias {
    display: grid;
    grid-template-areas:
    'LD1 LD1 ID1 ID1'
    'LD2 LD2 ID2 ID2'
    'LD3 LD3 ID3 ID3'
    'LD4 LD4 ID4 ID4'
    'LD5 LD5 ID5SI ID5NO'
    'LD6 LD6 ID6 ID6'
    'LD7 LD7 ID7 ID7'
    'ID8 ID8 ID9 ID9';
    height: 42rem;
    align-content: space-around;
    padding: 30px 300px 0px 300px;
}


/* G R I D S    S E G U I M I E N T O */

.main__gridSeguimiento{
    display: grid;
    grid-template-areas: 
    'tituloseguimiento tituloseguimiento'
    'consignaseguimiento consignaseguimiento'
    'formularioseguimiento tablatramites';
    justify-content: space-around;
}

.formulario__Seguimiento {
    display: grid;
    grid-template-areas:
    'LS1 IS1'
    'LS2 IS2'
    'LS3 IS3'
    'IS4 IS5';
    height: 21rem;
    align-content: space-around;
    padding: 30px 60px 0px 60px;
}

/* G R I D S    I N S T R U C T I V O S */

.main__gridInstructivos {
    display: grid;
    grid-template-areas:
    'tituloinstructivos tituloinstructivos'
    'subtituloimagen subtitulocanal'
    'imageninstructivo videocanal'
    'imageninstructivo videocanal'
    'imageninstructivo subtitulocodigo'
    'imageninstructivo videocodigo'
    'imageninstructivo videocodigo';
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}


/* G R I D S    C O N T A C T O */

.main__gridContacto {
    display: grid;
    grid-template-areas:
    'titulocontacto'
    'consignacontacto'
    'formulariocontacto';
}

.formulario__Contacto {
    display: grid;
    grid-template-areas: 
    'LC1 IC1'
    'LC2 IC2'
    'LC3 IC3'
    'LC4 IC4'
    'IC5 IC6';
    height: 30rem;
    align-content: space-around;
    padding: 30px 300px 0px 300px;
}


/* G R I D     A R E A S */

/* E S T R U C T U R A     G E N E R A L */

header {
    grid-area: header;
}

nav {
    grid-area: nav;
    justify-self: left;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    justify-self: center;
}


/* P A G I N A     D E N U N C I A */

.subtitulo__consignaDenuncia {
    grid-area: consignadenuncia;
}

.formulario__Denuncias {
    grid-area: formulariodenuncia;
}

.LD1 {
    grid-area: LD1;
}

.ID1 {
    grid-area: ID1;
}

.LD2 {
    grid-area: LD2;
}

.ID2 {
    grid-area: ID2;
}

.LD3 {
    grid-area: LD3;
}

.ID3 {
    grid-area: ID3;
}

.LD4 {
    grid-area: LD4;
}

.ID4 {
    grid-area: ID4;
}

.LD5 {
    grid-area: LD5;
}

.ID5SI {
    grid-area: ID5SI;
}

.ID5NO {
    grid-area: ID5NO;
}

.LD6 {
    grid-area: LD6;
}

.ID6 {
    grid-area: ID6;
}

.LD7 {
    grid-area: LD7;
}

.ID7 {
    grid-area: ID7;
}

.ID8 {
    grid-area: ID8;
}

.ID9 {
    grid-area: ID9;
}


/* P A G I N A      S E G U I M I E N T O */

.titulo__Seguimiento {
    grid-area: tituloseguimiento;
}

.subtitulo__consignaSeguimiento {
    grid-area: consignaseguimiento;
}

.formulario__Seguimiento {
    grid-area: formularioseguimiento;
}

.tabla__Tramites {
    grid-area: tablatramites;
}

.LS1 {
    grid-area: LS1;
}

.IS1 {
    grid-area: IS1;
}

.LS2 {
    grid-area: LS2;
}

.IS2 {
    grid-area: IS2;
}

.LS3 {
    grid-area: LS3;
}

.IS3 {
    grid-area: IS3;
}

.IS4 {
    grid-area: IS4;
}

.IS5 {
    grid-area: IS5;
}


/* P A G I N A     I N S T R U C T I V O S */

.titulo__instructivos {
    grid-area: tituloinstructivos;
    justify-self: center;
}

.subtitulo__instructivoPasos {
    grid-area: subtituloimagen;
}

.imagen__instructivoPasos {
    grid-area: imageninstructivo;
}

.subtitulo__Canal {
    grid-area: subtitulocanal;
}

.video__Canal {
    grid-area: videocanal;
    justify-self: right;
}

.subtitulo__Codigo {
    grid-area: subtitulocodigo;
}

.video__Codigo {
    grid-area: videocodigo;
}

.titulo__Denuncia {
    grid-area: titulodenuncia;
}


/* P A G I N A      C O N T A C T O */

.titulo__Contacto {
    grid-area: titulocontacto;
}

.subtitulo__consignaContacto {
    grid-area: consignacontacto;
}

.formulario__Contacto {
    grid-area: formulariocontacto;
}

.LC1 {
    grid-area: LC1;
}

.IC1 {
    grid-area: IC1;
}

.LC2 {
    grid-area: LC2;
}

.IC2 {
    grid-area: IC2;
}

.LC3 {
    grid-area: LC3;
}

.IC3 {
    grid-area: IC3;
}

.LC4 {
    grid-area: LC4;
}

.IC4 {
    grid-area: IC4;
}

.IC5 {
    grid-area: IC5;
}

.IC6 {
    grid-area: IC6;
}


/* M E D I A     Q U E R Y */

@media screen and (max-width: 1024px) {
    .body__grid {
        display: grid;
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer';
    }

    header {
        width: 100%;
        background-image: linear-gradient(to right, #e2b375, white,white, white);
    }

    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
    }

    #imagenInicio {
        width: 100%;
    }
    ul li {
        padding: 5px;

    }

    .formulario__Denuncias {
        height: 100%;
        padding: 2px;
    }

    .formulario__Seguimiento {
        height: 100%;
        padding: 30px 50px 0px 50px;  
    }

    .formulario__Contacto {
        height: 100%;
        padding: 10px;
    }
    .imagen__instructivoPasos {
        height: 100%;
        padding: 10px;     
    }
    
    .video__Canal {
        height: 100%;
        padding: 10px;
    }
        
    .video__Codigo {
        height: 100%;
        padding: 10px;
        
    }

    .main__gridInstructivos {
        display: grid;
        grid-template-areas:
        'tituloinstructivos'
        'subtituloimagen'
        'imageninstructivo'
        'subtitulocanal' 
        'videocanal'
        'subtitulocodigo'
        'videocodigo'
    }


}

@media screen and (max-width: 690px) {
    .body__grid {
        display: grid;
        grid-template-areas: 
        'header'
        'nav'
        'main'
        'footer';
    }

    header {
        width: 100%;
        background-image: linear-gradient(to right, #e2b375, white,white, white);
    }

    nav {
        width: 100%;
    }

    main {
        width: 100%;
    }

    footer {
        width: 100%;
    }


    #imagenInicio {
        width: 100%;
    }

    ul li {
        padding: 5px;

    }

    .formulario__Denuncias {
        height: 100%;
        padding: 2px;
    }

    .formulario__Seguimiento {
        height: 100%;
        padding: 30px 50px 0px 50px;  
    }

    .formulario__Contacto {
        height: 100%;
        padding: 10px;
    }
    .imagen__instructivoPasos {
        height: 100%;
        padding: 10px;     
    }
    
    .video__Canal {
        height: 100%;
        padding: 10px;
    }
        
    .video__Codigo {
        height: 100%;
        padding: 10px;
        
    }

    .main__gridInstructivos {
        display: grid;
        grid-template-areas:
        'tituloinstructivos'
        'subtituloimagen'
        'imageninstructivo'
        'subtitulocanal' 
        'videocanal'
        'subtitulocodigo'
        'videocodigo'
    }


}