* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

.body__grid {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}