@import "variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* E S T I L O S     H E A D E R */

header {
    background-image: linear-gradient(to right, $color-principal,$color-secundario,$color-secundario, $color-blanco,$color-blanco,$color-blanco);
}

@mixin aparecer {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: initial;
}

    .header__logoInicial {
        width: 320px;
        display: inline-block;
        padding: 40px 50px 70px 20px;
        position: absolute;
        right: 0px;
        @include aparecer;
    }

    .header__tituloInicial {
        color:$color-titulo;
        font-size: 60px;
        text-align: left;
        font-family: $fuente-principal;
        display: inline-block;
        text-shadow: 2px 2px $color-claro;
        padding: 20px 20px 20px 20px;
        @include aparecer;
    }

/* A N I M A C I O N    H E A D E R */

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }   
    100% {
        opacity: 1;
    }
}

.img-rounded {
    width: 100%;
}

/* E S T I L O S    M E N U    D E     N A V E G A C I O N */

ul  {

    li {
        list-style: none;
        display: inline;
        text-transform: uppercase;
        background-color: $color-principal;
        background-image: linear-gradient(to right, #f0d6b4, $color-claro, $color-claro,$color-claro, $color-claro);

            &:hover {
                border: 1px solid $color-titulo;
            }
    }
}

    .nav-link {
        text-decoration: none;
        color:rgb(97, 96, 96);
    }

    .dropdown {
        display: none;
    }

/* E S T I L O S     F O R M U L A R I O S */

form {
    padding: 30px 100px 30px 100px;
}

/* E S T I L O S     T E X T O S */

h2 , h3 , h5 {
    padding: 40px 0px 0px 0px;
    color:rgb(97, 96, 96);
    font-family: $fuente-principal;
    text-shadow: 2px 2px $color-claro;
}

h4 {
    @extend h2;
    transform: translate(150px);
}

h6 {
    padding: 20px;
    color: $color-blanco;
    font-family: $fuente-principal;
}


/* E S T I L O S     M U L T I M E D I A */

.imagen__instructivoPasos , .video__Canal , .video__Codigo {
    padding: 20px;
}

/* E S T I L O S     F O O T E R */

footer {
    background-color:$color-titulo ;
}

@import "media-queries";
